{% extends 'base.html' %}

{% block main %}
<section>

    <div class="text-dark text-center">
        <div>
            <p class="lead"><h4>For your better period</h4></p>
        </div>
    </div>

    <div class="useitems">
    <div class="card-columns">
        <!-- each tour is a bootstrap card -->
        {% for item in items%}
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='img/'+item.image)}}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer">
                <form action="{{url_for('main.itemdetail', item_id=item.id)}}">
                    <input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
                    <input class="btn btn-danger" type="submit" value="View detail">
                </form>
                <form action="{{url_for('main.order')}}">
                    <input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
                    <input class="btn btn-danger" type="submit" value="Add to Cart">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

</section>
{% endblock %}